html {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    position: relative;
}

body {
    background-color: #F2F1EF;
    color: #382513;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
}

h1 { font-size: 2.747rem; }

h2 { font-size: 1.229rem; }

h3 { font-size: 0.874rem; }

sup { font-size: 1rem; }

/* Main Layout */

.index {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60% !important;
}

main {
    margin-top: 4%;
    padding-bottom: 5.5rem;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: #671AA6;
    bottom: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    color: white;
    display: table;
    height: 5rem;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.footer-content {
    display: table-cell;
    padding-left: 1rem;
    vertical-align: middle;
}

footer a {
    color: white;
    display: inline;
}

.mobile { display: none; }

.desktop {
    background-color: #F7CA18;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.desktop .nav-item {
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
}


.desktop .nav-item:hover { background-color: #FFE270; }

.active a {
    border-color: #671AA6 !important;
    color: #671AA6 !important;
}

#loaderDiv {
    background-color: white;
    border-top: solid 1px #671AA6;
    bottom: 0;
    height: 4rem;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1100;
}

.ajax-loader {
    display: block;
    left: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -22px; /* -1 * image height / 2 */
    position: absolute;
    top: 50%;
}

.info { display: none; }

.disabled {
    text-decoration: line-through;
    pointer-events: none;
}

.status-desktop {
    color: black;
    font-weight: bold;
    display: inline-block;
    padding: 1rem;
    float: right;
}

.status-desktop-content {
    color: red;
}

.status-mobile {
    display: none;
}

.status-mobile-content {
    display: none;
}

.text-danger { color: red; }

.button {
    background-color: #E6E6E6;
    border: 1px solid #999;
    border: 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: #444;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    font-family: inherit;
    font-size: 100%;
    outline-color: #671AA6 !important;
    padding: .5em 1em;
    text-decoration: none;
}

.button:hover { box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

input[type="text"], input[type="number"], input[type="password"] {
    border: 1px solid #671AA6 !important;
    border: 0 rgba(0, 0, 0, 0);
    border-radius: 2px;
    color: #444;
    color: rgba(0, 0, 0, .8);
    font-family: inherit;
    font-size: 100%;
    outline-color: #671AA6 !important;
    padding: .5em 1em;
    text-decoration: none;
}


/* Card CSS */

.card {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: 0.5rem;
    padding: 4rem;
}

.card-wrapper {
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    margin: 0.5rem;
    white-space: nowrap;
}

.card-inline {
    box-sizing: border-box;
    display: inline-block;
    max-width: 50%;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    vertical-align: top;
    white-space: normal;
    width: 50%;
}

.card-inline:last-child { padding-right: 4rem; }

.card-inline:first-child { padding-left: 4rem; }

/* Administration CSS */

.voucher { display: none; }

.voucher-table { text-align: left; }

.voucher-table tr td, .voucher-table tr th { padding: 0.5rem; }

.pagination { float: right; }

.pagination ul {
    margin: 0;
    padding: 0;
}

.pagination ul li { display: inline; }

.file-overview {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.37);
    margin-bottom: 2rem;
}

.file-overview:last-child { border-bottom: none; }

.file-overview ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-vouchers-overview { display: none; }


/* Index CSS */

.redeem-code { text-align: center; }

.redeem-code-form {
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.redeem-code-form input[type="text"] {
    font-size: 2rem;
    height: 6rem;
    margin-bottom: 1rem;
    margin-left: 0;
    text-align: center;
}


@media (max-width: 1170px) {
    body { width: 100%; }

    .mobile-vouchers-overview { display: block; }

    .index { width: 100% !important; }

    .redeem-code-form { width: 100%; }

    .redeem-code-form input[type="text"] {
        font-size: 1rem;
        height: auto;
    }

    .mobile-vouchers-pagination span input {
        width: 32px;
    }

    .card {
        box-sizing: border-box;
        margin-left: 0;
        margin-right: 0;
        padding: 1rem;
        width: 100%;
        word-wrap: break-word;
    }

    .card-inline {
        box-sizing: border-box;
        display: block;
        max-width: unset;
        padding: 1rem;
        vertical-align: unset;
        white-space: unset;
        width: 100%;
        word-wrap: break-word;
    }

    .card-inline div ul li { word-wrap: break-word; }

    .card-inline:last-child { padding-right: 1rem; }

    .card-inline:first-child { padding-left: 1rem; }

    .card-wrapper {
        background: white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        margin-bottom: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        white-space: unset;
        word-wrap: break-word;
    }

    main {
        margin-top: 0.1rem;
        padding-bottom: 5rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .desktop { display: none; }

    .mobile {
        background-color: #F7CA18;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
        display: block;
        padding: 1rem;
    }

    .mobile .nav-item {
        color: black;
        cursor: pointer;
        display: block;
        padding: 1rem;
        text-decoration: none;
    }


    .mobile .nav-item:hover { background-color: #FFE270; }

    .status-mobile {
        background-color: white;
        border-top: solid 1px #671AA6;
        bottom: 0;
        color: red;
        display: table;
        font-weight: bold;
        height: 4rem;
        left: 0;
        position: fixed;
        text-align: center;
        width: 100%;
    }

    .status-mobile-content {
        display: table-cell;
        vertical-align: middle;
    }
}

@media (max-width: 500px) {
    table { display: none; }

    .info { display: block; }
}

@page {
    margin: 0;
    size: A4;
}

@media print {
    .print-instructions { display: none; }

    .voucher-container { display: block; }

    footer { display: none; }

    .status, .status-contet { display: none; }

    .voucher-image {
        border: 1px solid black;
        height: 148.5mm;
        left: 0;
        opacity: 0.15;
        top: 0;
        width: 210mm;
    }

    html, body, .voucher {
        display: block;
        height: 297mm;
        position: relative;
        text-align: center;
        width: 210mm;
    }

    .voucher-content {
        font-size: 18px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 25mm;
        width: 210mm;
    }

    .mobile { display: none; }

    main { margin: 0; }
}