html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #F2F1EF;
}

/* Set padding to keep content from hitting the edges */
main {
    margin-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.file-overview {
    display: inline-block;
    vertical-align: top;
}

.file-options {
    display: inline-block;
    vertical-align: top;
}

.card {
    margin: 0.5rem;
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    padding: 0.5rem;
}

.mobile {
    display: none;
}

.desktop {
    background-color: #F7CA18;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

.desktop .nav-item {
    padding: 1rem;
    display: inline-block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.desktop .nav-item:hover {
    background-color: #FFE270;
}

.voucher-table {
    text-align: left;
}

.voucher-table tr td, .voucher-table tr th {
    padding: 0.5rem;
}

.pagination {
    float: right;
}

.pagination ul {
    margin: 0;
    padding: 0;
}

.pagination ul li {
    display: inline;
}

.pagination ul li  a {
    color: black;
    text-decoration: none;
    padding: 0.4rem 0.7rem;
    border: solid #F7CA18 0.1rem;
    border-right-width: 0.001rem;
    border-left-width: 0.001rem;
    float: left;
}

.pagination ul li:first-child  a {
    color: black;
    text-decoration: none;
    border-left-width: 0.1rem;
    float: left;
}

.pagination ul li:last-child  a {
    color: black;
    text-decoration: none;
    border-right-width: 0.1rem;
    float: left;
}

.active a {
    color: #671AA6 !important;
    border-color: #671AA6 !important;
}

#loaderDiv {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1100;
   background-color: white;
   opacity: .6;
}

.ajax-loader {
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -32px; /* -1 * image width / 2 */
   margin-top: -32px; /* -1 * image height / 2 */
   display: block;
}

.info {
    display: none;
}

@media(max-width: 1170px) {
    body {
        width: 100%;
    }

    .file-overview {
        display: block;
    }

    .file-options {
        display: block;
    }

    .card {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        box-sizing: border-box;
        word-wrap: break-word;
    }

    main {
        padding: 0;
        margin-top: 0.1rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        background-color: #F7CA18;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        display: block;
        padding: 1rem;
    }

    .mobile .nav-item {
        padding: 1rem;
        display: block;
        color: black;
        text-decoration: none;
        cursor: pointer;
    }


    .mobile .nav-item:hover {
        background-color: #FFE270;
    }
}

@media(max-width: 500px) {
    table {
        display: none;
    }

    .info {
        display: block;
    }
}