
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-app="DownloadVoucheryApp" ng-controller="FileController">
    <div ng-init="GetFiles()">
        <div ng-repeat="f in files track by f.FileId">
            <ul>
                <li>{{f.FileId}}</li>
                <li>{{f.FileName}}</li>
                <li>{{f.FileUrl}}</li>
                <li>{{f.FileSizeInBytes}}</li>
                <li>{{f.FileOwner.UserName}}</li>
                <li>
                    <form role="form" ng-submit="CreateVoucher(f.FileId)">
                        <input type="number" ng-model="newVoucher.VoucherAmount" />
                        <input type="submit" value="Create Voucher" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div ng-init="GetVouchers()">
        <ul>
            <li ng-repeat="v in vouchers track by v.VoucherId">Code: {{v.VoucherCode}}, creation date: {{v.VoucherCreationDate}}, redeemed: {{v.VoucherRedeemed}}, redemption date: {{v.VoucherRedemptionDate}}</li>
        </ul>
    </div>

    <form role="form" ng-submit="uploadFile()">
        <input type="file" name="file1" file-model="myFile" />
        <input type="submit" value="Upload" />
    </form>
</div>

