@{
    ViewBag.Title = "About";
}
<div class="card">
    <h1>@ViewBag.Title</h1>
    <p>This is the beta version of Download Vouchery.</p>
    <p>You can upload files and create vouchers for them to print.</p>
    <p>On every voucher you print is a unique code which can be used to download the file you uploaded. This is your quick and easy way to share your digital content offline in the real world.</p>
    <p>Currently you can create a maximum of 10000 vouchers per file.</p>
    <h3>Future Plans</h3>
    <ul>
        <li>Increase the maximum of vouchers per file</li>
        <li>Provide the option to share your vouchers online</li>
        <li>Provide a fast desktop tool to handle large amounts of vouchers</li>
    </ul>
    <h3>Note</h3>
    <p>This is an one man project. Currently I am doing everything here on my own, so be gentle with bugs and general feedback please. I can't promise any exact dates for the features to come but I am working on it.</p>
</div>
