@{
    ViewBag.Title = "Contact";
}


<div class="card">

    <h1>@ViewBag.Title</h1>
    <address>
        Florian Delvo<br/>
        Albert-Schweitzer-Straße 17a<br/>
        55128 Mainz, Germany<br/>
    </address>
    <address>
        <strong>Email:</strong> <a href="mailto:downloadvouchery@googlemail.com">downloadvouchery@googlemail.com</a><br/>
    </address>

    <p>Feel free to send questions and feedback.</p>

</div>