<div ng-controller="VoucherController" class="card">
    <form>
        <input type="text" ng-model="download.VoucherCode" />
        <a ng-href="/blobs/{{download.VoucherCode}}/download">Download</a>
    </form>
</div>